.container_photos_bigPhoto {
  height: 518px;
  background-color: var(--article);
  border-radius: 5px;
  position: relative;
  cursor: -webkit-zoom-in;
}

.photo {
  padding: 1rem 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  height: 518px;
}

.container_photos_bigPhoto_arrowPrev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container_photos_bigPhoto_arrowNext {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container_photos_bigPhoto_arrowPrev,
.container_photos_bigPhoto_arrowNext {
  width: 2rem;
  height: 2rem;
  margin: 10px 10px;
  border-radius: 50%;
  border: 2px solid var(--article);
  background-color: var(--secondary-color);
  color: var(--article);
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_photos_bigPhoto_arrowPrev > svg,
.container_photos_bigPhoto_arrowNext > svg {
  transition: all 0.3s ease 0s;
  color: var(--article);
}
.container_photos_bigPhoto_arrowPrev:hover,
.container_photos_bigPhoto_arrowNext:hover {
  border: 2px solid var(--tertiary-text-color);
}

.container_photos_bigPhoto_arrowPrev:hover svg,
.container_photos_bigPhoto_arrowNext:hover svg {
  color: var(--tertiary-text-color);
}

.container_photos_bigPhoto_arrowPrev:active > svg,
.container_photos_bigPhoto_arrowNext:active > svg {
  transform: scale(1.3, 0.9);
  transition: 0.15s;
}

.container_photos_bigPhoto_arrowPrev:active,
.container_photos_bigPhoto_arrowNext:active {
  background-color: var(--tertiary-color);
}
.container_photos_bigPhoto_arrowPrev:disabled,
.container_photos_bigPhoto_arrowNext:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
  border: 2px solid var(--secondary-text-color);
}

.container_photos_thumbnails {
  height: 150px;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  background-color: var(--article);
  border-radius: 5px;
}

.thumbnails_wrapper {
  display: flex;
  justify-content: center;
}

.thumbnails {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
}

.thumbnails > li {
  width: 162px;
  height: 124px;
  cursor: pointer;
  list-style: none;
  margin: 0 12px 0 12px;
  background-color: #c9c9c980;
  position: relative;
}

.selected {
  box-shadow: 0 0 2px 8px var(--tertiary-text-color);
}

.thumbnails > li > img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .container_photos_bigPhoto {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    height: 300px;
    background-color: var(--text-background);
    border-radius: 5px;
    padding: 10px 0;
    position: relative;
  }
  .container_photos_thumbnails {
    display: none;
  }
  .photo {
    padding: 1rem 0;
    display: block;
    height: 300px;
  }
  /*   .mobile_gallery {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    height: 300px;
    background-color: var(--text-background);
    border-radius: 5px;
    padding: 10px 0;
    position: relative;
  } */

  .mobile_gallery_more {
    list-style: none;
  }
  .mobile_gallery_image_wrapper {
    width: 300px;
    height: 100%;
    margin: 0 10px;
  }

  .mobile_gallery_image {
    width: 300px;
    height: 100%;
    object-fit: cover;
    margin: 0 10px 0 10px;
    scroll-snap-align: center;
  }
  .mobile_gallery_more:last-child > div > img {
    height: 280px;
  }
  .mobile_gallery_image_unique_wrapper {
    position: relative;
  }
  .mobile_gallery_custom_element {
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 0 10px;
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile_gallery_more > * {
    margin: 0 5px 10px 5px;
  }
  .mobile_gallery_image_unique_wrapper > *:active {
    color: var(--tertiary-text-color);
  }
  .mobile_gallery_more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
    letter-spacing: 1.5px;
    font-size: 25px;
    color: var(--primary-text-color);
  }
  .mobile_gallery_more > svg {
    width: 40px;
    height: 40px;
    color: var(--primary-text-color);
  }
  .mobile_gallery_more_info {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
  }

  .mobile_grid_gallery_nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 9999;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .mobile_grid_gallery_nav_title {
    grid-column-start: 2;
    grid-row-start: 2;
    color: var(--primary-text-color);
  }
  .mobile_grid_gallery_exit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
  .mobile_grid_gallery_exit > svg {
    color: var(--primary-text-color);
    height: 40px;
    width: 40px;
  }

  .mobile_grid_gallery_section {
    position: fixed;
    margin-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: var(--article);
  }
  .mobile_grid_gallery {
    width: 100%;
    height: 100%;
    background-color: var(--article);
    padding: 0 5px 100px 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    gap: 10px;
    overflow-y: scroll;
  }
  .mobile_grid_item {
    object-fit: cover;
  }

  .mobile_grid_gallery_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--text-background);
    list-style: none;
    padding: 5px;
    border-radius: 5px;
  }

  .mobile_grid_gallery_item:nth-child(3n + 1) {
    grid-area: span 1 / span 2;
  }
}
.infinite_gallery_item {
  box-shadow: 0px 0px 31px -12px rgba(66, 68, 90, 0.47);
}

.infinite_gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  white-space: nowrap;
  align-items: center;
  scroll-snap-type: x mandatory;
  height: calc(100% - 100px);
  background-color: var(--primary-color);
  padding: 10px 0;
  position: relative;
  list-style: none;
}

.mobile_gallery_image_infinite {
  height: 50vh;
  object-fit: cover;
  margin: 0 20px 0 20px;
  scroll-snap-align: center;
  background-color: aquamarine;
}
@media (orientation: landscape) {
  .mobile_gallery_image_infinite {
    height: 80vh;
    object-fit: contain;
    margin: 0 100vw;
    scroll-snap-align: center;
    background-color: aquamarine;
    max-height: 100%;
  }
  .infinite_gallery_item {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 31px -12px rgba(66, 68, 90, 0.47);
  }
}
@media (max-width: 1860px) {
  .thumbnails {
    width: 700px;
  }
}
@media (max-width: 1660px) {
  .thumbnails {
    width: 600px;
  }
}
@media (max-width: 1490px) {
  .thumbnails {
    width: 500px;
  }
}
@media (max-width: 1340px) {
  .thumbnails {
    width: 400px;
  }
}
@media (max-width: 1130px) {
  .thumbnails {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .thumbnails {
    width: 80%;
  }
}
