.section_container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*  background-color: var(--primary-text-color); */
}

.section_filter {
  width: 100%;
  background-color: var(--secondary-color);
  height: 80px;
}
.dropdownWrapper{
  width: 300px;
}