.userLayoutBody {
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 50px 0;
}
.userLayoutSection {
  min-width: 1024px;
  display: flex;
  height: 100%;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.sidePanel {
  width: 25%;
}
.nav {
  width: 100%;
  height: 100%;
}
.list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.listItem {
  padding-left: 16px;
  color: var(--primary-text-color);
  user-select: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.listItem:hover {
  text-decoration: underline;
  text-decoration-color: var(--tertiary-text-color);
}

.mainPanel {
  width: 75%;
  background-color: var(--article);
  border-radius: 0px 5px 5px 0px;
}
.mainSectionFormContainer {
  height: 768px;
  overflow: auto;
}
.welcomeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 768px;
  flex-direction: column;
}
.welcomeSection_title {
  font-size: 4rem;
  color: var(--secondary-text-color);
  user-select: none;
}
.welcomeSection_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.welcomeSection_container > * {
  margin: 10px 0px;
}

@media (max-width: 425px) {
  .userLayoutSection {
    min-width: 320px;
    width: 320px;
    display: flex;
    flex-direction: column-reverse;
  }
  .sidePanel {
    width: 100%;
  }
  .mainPanel {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
  .mainSectionFormContainer {
    min-height: 768px;
    overflow: auto;
  }
  .welcomeSection_title {
    font-size: 2rem;
  }
  .listItem {
    height: 70px;
    color: var(--primary-text-color);
    user-select: none;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(216, 216, 216, 0.4);
  }
  .listItem:last-child {
    border-bottom: none;
  }
}
