.listItem_container {
  list-style: none;
  margin: 1rem 0;
}
/* a {
  text-decoration: none;
  color: var(--secondary-text-color);
} */

.grid_container {
  width: 800px;
  height: auto;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 1rem;
  background-color: var(--article);
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  min-height: 340px;
}

.grid_img {
  height: 300px;
  width: 300px;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: pointer;
}
.ImageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 16px;
}
.grid_mini {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(5, 20%);
}

.grid_mini_title {
  height: 100%;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: span 4;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
}

.grid_mini_category {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.grid_mini_price {
 grid-column: 3/5;
 grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.grid_mini_floor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid_mini_floor > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_mini_numberOfRooms {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.grid_mini_area {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}

.grid_mini_sendMessage {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  user-select: none;
}

.grid_mini_sendMessageButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid_mini_favorite {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  user-select: none;
}

.grid_mini_favoriteButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .grid_container {
    width: 300px;
    min-height: 600px;
    height: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    background-color: var(--article);
    padding: 0;
    grid-template-areas:
      "image"
      "description";
  }
  .grid_img {
    height: 300px;
    width: 100%;
    grid-area: image;
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding: 5px 5px 0 5px;
  }

  .ImageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 16px;
  }
  .grid_mini {
    height: 420px;
    width: 100%;
    grid-area: description;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(7, 60px);
  }

  .grid_mini_category {
    width: 300px;
    grid-column: 1/3;
    grid-row: 1/1;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-text-color);
  }
  .grid_mini_price {
    grid-column: 1/3;
    grid-row: 2/2;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--secondary-text-color);
  }
  .grid_mini_title {
    width: 300px;
    font-size: 16px;
    border-top: 2px solid rgba(216, 216, 216, 0.4);
    border-bottom: 2px solid rgba(216, 216, 216, 0.4);
    grid-column: 1/3;
    grid-row: 3/3;
    padding: 0 10px;
    display: flex;
    align-items: center;
    padding-left: 5px;

    text-wrap: pretty;
  }
  .grid_mini_floor {
    grid-column: 1/2;
    grid-row: 4/4;
  }
  .grid_mini_numberOfRooms {
    grid-column: 2/2;
    grid-row: 4/4;
  }
  .grid_mini_area {
    grid-column: 1/2;
    grid-row: 5/5;
  }

  .grid_mini_sendMessage {
    grid-column: 1/2;
    grid-row: 7/7;
    padding-left: 5px;
  }
  .grid_mini_sendMessageButton {
    grid-column: 2/2;
    grid-row: 7/7;
  }
  .grid_mini_favorite {
    grid-column: 1/2;
    grid-row: 6/6;
    padding-left: 5px;
  }
  .grid_mini_favoriteButton {
    grid-column: 2/2;
    grid-row: 6/6;
  }
}
