.listItem_container {
  list-style: none;
  margin: 1rem 0;
}
/* a {
  text-decoration: none;
  color: var(--secondary-text-color);
} */

.grid_container {
  width: 800px;
  height: auto;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 1rem;
  background-color: var(--article);
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  min-height: 300px;
}

.grid_img {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: pointer;
}

.grid_img img {
  width: 100%;
  height: 100%;
}

.grid_mini {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(5, 20%);
}

.grid_mini_title {
  height: 100%;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: span 4;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
}

.grid_mini_category {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.grid_mini_price {
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.grid_mini_floor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid_mini_floor > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_mini_numberOfRooms {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.grid_mini_area {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}

.grid_mini_sendMessage {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  user-select: none;
}

.grid_mini_sendMessageButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid_mini_favorite {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  user-select: none;
}

.grid_mini_favoriteButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .grid_container {
    width: 300px;
    height: 400px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    background-color: var(--article);
    grid-template-areas:
      "image"
      "description";
  }

  .grid_img {
    height: 200px;
    grid-area: image;
    object-fit: cover;
    background-color: bisque;
    border-radius: 16px 16px 0 0;
  }
  .grid_img img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .grid_description {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 30% 40% 15% 15%;
  }
  .grid_description_category {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    color: var(--secondary-text-color);
  }

  .grid_description_price {
    grid-column: 3/5;
    grid-row: 1;
    border-top: 1px solid var(--secondary-color);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    justify-content: center;
    color: var(--secondary-text-color);
  }
  .grid_description_price > h3 {
    font-size: 18px;
  }

  .grid_description_title {
    font-size: 20px;
    border-top: 2px solid rgba(216, 216, 216, 0.4);
    border-bottom: 2px solid rgba(216, 216, 216, 0.4);
    grid-column: 1/5;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .grid_description_details {
    display: flex;
    grid-column: 1/4;
    grid-row: 3/5;

    align-items: center;
    justify-content: center;
  }
  .grid_description_details_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .grid_description_details_child > p {
    font-size: 14px;
  }

  .grid_description_favoriteButton {
    grid-column: 4/5;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
