.nav {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* top: 0;
  left: 0; */
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  padding: 10px 10%;
  background-color: var(--primary-color);
  z-index: 11;
}

.logo {
  cursor: pointer;
  text-align: center;
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
  color: var(--article);
  transition: all 0.5s ease 0s;
}
.logo_container:hover {
  color: var(--tertiary-text-color);
  border-color: var(--primary-text-color);
}
.logo_container > svg {
  width: 40px;
  height: 40px;
}

.loginButton {
  height: 40px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  padding: 0px 20px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.loginButton:hover {
  background-color: var(--tertiary-color);
}
.showSidebar {
  display: none;
}
.hamburgerSlice {
  display: none;
}
@media (max-width: 525px) {
  /* .showSidebar {
    grid-column: 1;
    grid-row: 1/3;
    display: block;
  }
  .hamburgerSlice {
    transition: all 0.3s linear;
    height: 5px;
    width: 30px;
    margin: 5px 0;
    transform-origin: 1px;
    background-color: var(--secondary-color);
    display: block;
    user-select: none;
  } */
  .nav {
    height: 160px;
  }
  .logoPosition {
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .loginPosition {
    grid-column: 1/3;
    grid-row: 3/3;
  }
  .ThemeButtonNavbarStyles {
    grid-column: 3/4;
    grid-row: 3/3;
  }
}
