.footer {
  width: 100%;
  background-color: var(--primary-color);
  display: block;
  bottom: 0;
  padding: 2rem 6rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.container_social {
  grid-column: 1/2;
}

.container_social > :first-child {
  margin-bottom: 10px;
  text-align: center;
}

.container_social > :last-child {
  text-align: center;
}

.container_social > .social:last-child {
  height: 154px;
}

.social {
  display: block;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 366px;
}

.title {
  color: var(--primary-text-color);
  text-align: center;
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
}

.social_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--article);
  height: 80px;
  border-radius: 5px;
  margin-top: 5px;
}

.social_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-color: var(--article);
  height: 80px;
  border-radius: 5px;
  font-weight: 600;
}

.social_contact > h3:hover {
  color: var(--tertiary-text-color);
  transition: all 0.3s ease 0s;
}

.container_options {
  grid-column: 2/3;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 366px;
  padding: 1rem;
  height: 312px;
}

.container_navigation {
  grid-column: 3/3;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 366px;
  padding: 1rem;
  height: 312px;
}

.options_li {
  list-style: none;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.options_li:active {
  transform: scale(0.95);
}

.article {
  margin-top: 5px;
  display: flex;
  border-radius: 5px;
  height: calc(100% - 1rem);
}
.article ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article li {
  padding-left: 10px;
  font-weight: 600;
  color: var(--primary-text-color);
}
.article li:hover {
  text-decoration: underline;
  text-decoration-color: var(--tertiary-text-color);
}

@media (max-width: 1280px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container section {
    margin: 10px 0;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_social {
    width: 300px;
  }
  .social {
    width: auto;
  }
  .container_navigation,
  .container_options {
    width: 300px;
  }
}
