.card_section_item_li {
  list-style: none;
}
.card_section_item {
  margin: auto;
  height: 488px;
  width: 366px;
  padding: 24px;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 200ms ease-in-out 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  margin: 20px 20px;
  color: var(--article);
}

.card_svg > svg {
  height: 96px;
  width: 96px;
}
.card_title {
  text-align: center;
}
.card_section_item:hover {
  transform: scale(1.05);
}

.card_section_item:active {
  transform: scale(1.03);
  transition: 0.1s;
  box-shadow: 0 0 2px 2px var(--tertiary-text-color);
}

.card_section_item:hover button {
  background-color: var(--tertiary-color);
  color: var(--tertiary-text-color);
}

.card_section_button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--article);
}
.card_section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 680px;
  padding: 28px 0;
}

@media (max-width: 1380px) {
  .card_section_item {
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .card_section_item {
    width: 250px;
  }
}

@media (max-width: 980px) {
  .card_section_item {
    width: 220px;
  }
}
@media (max-width: 800px) {
  .card_section_container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .card_section_item {
    width: 300px;
  }
}
