.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*   background: linear-gradient(
    var(--background-color) 50%,
    var(--primary-color) 100%
  ); */
}

.pagination__list > li {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  list-style: none;
}

.pagination__list_btn {
  width: 2.5rem;
  height: 2.5rem;
  margin: 10px 10px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: var(--secondary-color);
  color: white;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list_middle_btn {
  width: 6rem;
  height: 3rem;
  margin: 10px 10px;
  border-radius: 25%;
  border: 2px solid white;
  background-color: var(--secondary-color);
  color: white;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--tertiary-text-color);
}

.pagination__list_btn > svg {
  transition: all 0.3s ease 0s;
  color: white;
}
.pagination__list_btn:hover,
.pagination__list_btn:hover svg {
  color: var(--tertiary-text-color);
}

.pagination__list_btn:hover {
  border: 2px solid var(--tertiary-text-color);
}

.pagination__list_btn:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
  border: 2px solid black;
}

/* .pagination__list > li:nth-child(2),
.pagination__list > li:nth-child(4) {
  font-weight: 900;
  user-select: none;
}

.pagination__list > li:nth-child(1) button:nth-child(1),
.pagination__list > li:nth-child(5) button:nth-child(2) {
  width: 2.5rem;
  height: 2.5rem;
}

.pagination__list > li:nth-child(1) button:nth-child(2),
.pagination__list > li:nth-child(5) button:nth-child(1) {
  width: 2rem;
  height: 2rem;
}

.pagination__list > li:nth-child(3) button:nth-child(1),
.pagination__list > li:nth-child(3) button:nth-child(5) {
  width: 2rem;
  height: 2rem;
}

.pagination__list > li:nth-child(3) button:nth-child(2),
.pagination__list > li:nth-child(3) button:nth-child(4) {
  width: 2.5rem;
  height: 2.5rem;
}

.pagination__list > li:nth-child(3) button:nth-child(3) {
  width: 3rem;
  height: 3rem;
} */

.pagination__list > li:nth-child(1) button:nth-child(1):active,
.pagination__list > li:nth-child(5) button:nth-child(2):active,
.pagination__list > li:nth-child(1) button:nth-child(2):active,
.pagination__list > li:nth-child(5) button:nth-child(1):active,
.pagination__list > li:nth-child(3) button:nth-child(1):active,
.pagination__list > li:nth-child(3) button:nth-child(5):active,
.pagination__list > li:nth-child(3) button:nth-child(2):active,
.pagination__list > li:nth-child(3) button:nth-child(4):active,
.pagination__list > li:nth-child(3) button:nth-child(3):active {
  transform: scale(0.8, 0.8);
  transition: 0.15s;
}
