.main {
  width: 100%;
  margin-top: 100px;
  background-color: var(--landing-page-form);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section_transaction {
  height: 100px;
  /*  width: 50%; */
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.section_transaction > div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
}

.section_transaction_container {
  background-color: var(--secondary-color);
  height: 40px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: var(--primary-text-color);
  cursor: pointer;
}

.section_transaction_container:hover {
  color: var(--tertiary-color);
}

.section_transaction_container:checked {
  color: var(--tertiary-color);
}

.section_transaction_container > input {
  display: none;
}

.section_transaction_container > input:checked + .custom_checkmark {
  display: inline-block;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  background-color: var(--tertiary-text-color);
}

.custom_checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-text-color);
  border-radius: 50%;
  margin-left: 20px;
}

.section_panel {
  background-color: var(--article);
  /*  width: 50%; */
  padding: 1.25rem 0;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
}

.panel_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.panel_container > li {
  list-style: none;
}

.panel {
  width: 244px;
  height: 244px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  color: var(--primary-text-color);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  user-select: none;
}
.panel_active {
  color: var(--tertiary-text-color);
  width: 244px;
  height: 244px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.panel:hover {
  color: var(--tertiary-text-color);
}

.icon > svg {
  height: 80px;
  width: 80px;
  margin: 1rem;
}

.panel_input {
  visibility: hidden;
}
.section_details {
  /* width: 50%; */
  margin: 10px 0 20px 0;
}

.errorParagraph {
  color: var(--primary-text-color);
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
  border-radius: 5px;
  padding: 5px;
}
.submit_wrapper {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.submit {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
  padding: 10px 32px;
  border-radius: 5px;
  background-color: #8ac6d0;
  border-style: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  color: white;
}

.submit:hover {
  background-color: var(--tertiary-color);
  color: var(--tertiary-text-color);
  box-shadow: 0 0 2px 2px var(--tertiary-text-color);
}

.submit:active {
  background-color: var(--quaternary-color);
  color: var(--tertiary-text-color);
  box-shadow: 0 0 2px 8px var(--tertiary-text-color);
}

.submit:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
}

@media (max-width: 800px) {
  .section_transaction {
    width: 80%;
    height: 120px;
  }

  .section_transaction > div {
    width: 100%;
    height: 120px;
    flex-direction: column;
  }

  .section_panel {
    width: 80%;
  }

  .panel {
    width: 122px;
    height: 122px;
  }
  .panel_container > li:nth-child(4) {
    font-size: 12px;
  }

  .panel_active {
    width: 122px;
    height: 122px;
  }

  .icon > svg {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .section_details {
    width: 96%;
  }
}
